---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar.astro";
import Footer from "../components/Footer.astro";
import GameCard from "../components/GameCard.astro";
---

<Layout title="Inicio">
  <NavBar />
  <section class="bg-purple-100 py-8 md:py-12">
    <div class="mx-auto max-w-screen-xl px-4 2xl:px-0">
      <!-- Heading & Filters -->
      <div
        class="mb-4 items-end justify-between space-y-4 sm:flex sm:space-y-0 md:mb-8">
        <div>
          <h2 class="mt-3 text-xl font-semibold text-gray-900 sm:text-2xl">
            Juegos destacados
          </h2>
        </div>
      </div>
      <div
        class="mb-4 grid gap-4 sm:grid-cols-2 md:mb-8 lg:grid-cols-3 xl:grid-cols-4">
        <GameCard />
      </div>
      <div class="w-full text-center">
        <button
          type="button"
          class="rounded-lg border border-purple-300 bg-white px-5 py-2.5 text-sm font-medium text-purple-700 hover:bg-gray-100 focus:z-10 focus:outline-none focus:ring-4 focus:ring-purple-300"
          >Ver más</button
        >
      </div>
    </div>
  </section>
  <Footer />
</Layout>
