---
import Image from "astro/components/Image.astro"
---
<button
  aria-label="Iniciar sesión con Google"
  class="w-full flex items-center justify-center bg-purple-500 hover:bg-purple-700 py-2 px-4 rounded-lg text-white transition-colors duration-200 cursor-pointer">
  <Image
    src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Google_%22G%22_logo.svg/768px-Google_%22G%22_logo.svg.png"
    class="h-5 w-5 mr-2"
    alt="GoogleSVG"
    width={20}
    height={20}
    aria-hidden="true"
    loading="eager"
  />
  <span class="truncate">Inicia sesión con Google</span>
</button>
