<!-- ---
import Eye from "../assets/eye.astro";
---

<div>
  <div>
    <input type="text" placeholder="Username" />
  </div>
  <div>
    <input
      id="password"
      type="password"
      name="password"
      placeholder="Password"
      title="Minimum 6 characters at least 1 Alphabet, 1 Number and 1 Special Character"
      pattern="^(?=.[A-Za-z]) (?=.*\d)(?=.*[\W_])(?=.*[A-Za-z\d\W_]){6,}$"
      required
      class=""
    />
    <label for="password" class="">Password</label>
    <Eye/>
  </div>
</div> -->
<div class="h-screen flex items-center justify-center bg-violet-300 px-4">
  <div class="bg-white shadow-lg rounded-lg p-6 max-w-sm w-full my-6">
    <div class="text-center mb-6">
      <img src="../img/Hyperton.png" alt="Hyperton Logo" class="w-16 mx-auto" />
      <h1 class="text-4xl font-semibold mt-4">
        Hyper<span class="font-light">ton</span>
      </h1>
    </div>
    <h2 class="text-2xl font-semibold mb-4 text-center">Inicia sesión</h2>
    <form id="loginForm">
      <label for="email" class="block text-sm font-medium mb-2"
        >Correo electrónico</label
      >
      <input
        id="email"
        type="email"
        aria-label="Correo electrónico"
        class="block w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-violet-500"
        placeholder="correo@gmail.com"
      />
      <label for="password" class="block text-sm font-medium mt-4 mb-2"
        >Contraseña</label
      >
      <input
        id="password"
        type="password"
        aria-label="Contraseña"
        class="block w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-violet-500"
        placeholder="********"
      />
      <div id="errorMessage" class="hidden mt-4 text-red-600"></div>
      <div class="flex items-center justify-between mt-4">
        <label class="flex items-center">
          <input
            type="checkbox"
            class="form-checkbox h-4 w-4 text-purple-500"
          />
          <span class="ml-2 text-sm">Recuérdame</span>
        </label>
        <a
          href="Restaurar cuenta.html"
          class="text-sm text-purple-600 hover:underline">
          ¿Olvidaste tu contraseña?
        </a>
      </div>
      <button
        type="submit"
        class="mt-6 w-full bg-purple-600 hover:bg-purple-800 text-white py-2 rounded-lg font-medium">
        Iniciar sesión
      </button>
      <p class="text-sm text-gray-400 text-center my-2">o</p>
      <div class="flex space-x-4 mb-6 items-center justify-center">
        <button
          class="flex items-center justify-center bg-purple-600 hover:bg-purple-800 py-2 px-4 rounded-lg text-white">
          <img
            src="https://www.svgrepo.com/show/355037/google.svg"
            class="h-5 w-5 mr-2"
            alt="Google"
          />
          Inicia sesión con Google
        </button>
      </div>
    </form>
    <p class="text-sm text-gray-600 mt-4 text-center">
      ¿No tienes una cuenta?
      <a href="register.html" class="text-purple-600 hover:underline"
        >Regístrate</a
      >
    </p>
  </div>
</div>
