:root {
    --primary-color: #7b50a0;
    --darker-tone: #412b54;
    --darker-tone-2: #2e1f3a;
    --lighter-tone: #b88acf;
    --complementary-color-1: #a07b50;
    --complementary-color-2: #ae84c5;
    --text-color: #150a1f;
    --text-color-2: #ffffff;
    --background-color: #f5f5f5;
    --background-color-2: #c2a5cd;
}
body{
    font-family: 'Montserrat','Open Sans';
    box-sizing: border-box;
    background-color: var(--background-color);
}
a{ /* ELIMINAR DECORACION TIPO SUBRAYADO EN EL TEXTO DE LAS ETIQUETAS A */
    text-decoration: none;
}
/* ESTILO DEL HEADER */
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background-color-2);
}
.Null-s{
    width:100px;
    height:100px;
    margin: 8px 8px;
}
h1{
    font-family:'Montserrat';
    color: var(--text-color);
}
h1 span{
    color: var(--text-color);
    font-family:'Open Sans';
    font-weight: normal;
}
.search-bar{
    width:99%;
    min-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 20px;
}

input[type="text"]{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border-color: var(--text-color);
    font-family: 'Open Sans';
    font-size: large;
}
.search-bar button{
    width: 44px;
    height: 44px;
    border-radius: 5px;
    border-color: var(--text-color);
    background-color: var(--primary-color);
    color: var(--background-color);
    cursor: pointer;
}
.menu{
    display: flex;
    justify-content:end;
    align-items: center;
    margin: 0 20px;
}
.menu a{
    margin: 0 10px;
    color: var(--text-color-2);
    font-family: 'Open Sans';
    font-size:larger;
    font-weight: bold;
}
.user{
    display: flex;
    align-items: center;
}
.user img{
    width: 24px;
    margin-right: 5px;
}
.shopping-cart{
    display: flex;
    align-items: center;
}
.shopping-cart img{
    width: 24px;
    margin-right: 15px;
}

/* ESTILO DE LA NAV */
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--darker-tone);
    height: 50px;
    padding: 0 20px;
    color: #fff;
    font-size: 1.2rem;
}
nav a{
    margin: 0 10px;
    color: var(--text-color-2);
    font-family: 'Open Sans';
    font-size:larger;
    font-weight: bold;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
nav ul li{
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li img{
    width: 24px;
    margin-right: 5px;
}
/* ESTILO DE RECOMENDACIONES */
/* .main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
} */
.recommended-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 5px;

}
h3{
    font-family: 'Montserrat';
    color: var(--text-color);
    font-size: larger;
    margin: 20px;
}
.recommended-item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin:-10px;
}
.recommended-item img{
    border-radius: 11px 11px 0px 0px;
}
.text-container{
    width: 224px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 20px;
    border-radius: 0px 0px 11px 11px;
    background-color: var(--primary-color);
}
h4{
    font-family: 'Montserrat';
    color: var(--text-color);
    font-size: medium;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    width: 224px;
    height: 40px;
    border-radius: 5px;
    border-color: var(--text-color);
    background-color: var(--primary-color);
    color: var(--background-color);
    cursor: pointer;
    font-family: 'Open Sans';
    font-size: medium;
    margin: 15px;
}
/* ESTILO DEL SEGUNDO SECTION */
.trending-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 5px;
}
.trending-item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin:-10px;
}
/* ULTIMO SECTION */
.upcoming-games{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 5px;
}
.upcoming-games-item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin:-10px;
}
/* SECTION DE CATEGORIAS */
.categories{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 5px;
}
.categories-item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin:10px;
}
.categories-item img{
    border-radius: 11px 11px 0px 0px;
    width: 60px;
}
/* ESTILO DEL FOOTER */
footer{ /* ESTILO DEL FOOTER */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 20px;
    font-family: 'Open Sans';
    font-size: 15px;
    color: var(--text-color);
}
.social-media{
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon{
    width: 30px;
    height: 30px;
    margin: 0 10px 0 10px;
    cursor: pointer;
}